
            div {
                padding-left: 5rem;
            }
            body {
                background-color: #f9f5ec;
                font-family: Montserrat;
            }
            h2 {
                color: rgb(127, 134, 123);
                text-align: center;
            }
            p {
                padding: 1.5rem;
            }
            a {
            color: rgb(175, 159, 140);
            }
            a:hover {
            color: rgb(127, 134, 123);
            }
            /* 
            
            //Medium devices (landscape tablets, 768px and up) 
            
                @media only screen and (min-width: 768px) {...}
            
            //Small devices (portrait tablets and large phones, 600px and up)
                @media only screen and (min-width: 600px) {...}            
            
            */